
@media (min-width: 768px){
    .header_top{
        display: none;
    }
}
.header_top{
    display: flex;
    padding: 20px 30px !important;
    justify-content: space-between;
    background-color: #4c4c4c;
    font-size: 12px;
    .header_top__FreeShip{
        font-family: Dejavu Sans;
        }
        span{
            color:#c8c8c8;
            margin-right: 5px;
            
    }
    .header_top__return{
        span{
            color:#c8c8c8;
            margin-left: 5px;
            font-family: Dejavu Sans;
        }
    }
}
@media (min-width: 768px){
    .header-bottom{
        display: none !important;
    }
}
.header.content {
    padding:25px 15px;
    position: relative;
    background-color: #414042;
    .header-wrapper__row{
        display: flex;
        align-items: center;
        .title-logo{
            text-transform: uppercase;
            color:#ffffff;
            
            font-size: 22px;
            span{
                text-align: center;
                font-weight: 900;
                font-family: Dejavu Sans;
            }
        }
        .icon-heart{
            i{
                font-size: 20px;
                color:#ffffff;
                float: right;
            }
        }
        .block-search{
            .control{
                border:none;
            }
        }
        @media only screen and (max-width: 639px){
            .minicart-wrapper {
                margin-top: 0px;
            }
        }
    }
}
.header-bottom{
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
    background-color: brown;
    li{
        list-style: none;
        font-size: 13px;
        color:black
    }
}
